<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(DefaultLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
        <LayoutView Layout="@typeof(DefaultLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
